@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-spotify-bg text-white antialiased;
}

.card-glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}
